<div nz-row>
    <div nz-col nzSpan="6" style='text-align: left'>&nbsp;</div>
    <div nz-col nzSpan="6" style='text-align: left'>&nbsp;</div>
    <div nz-col nzSpan="12" style='text-align: left'> &nbsp;</div>
</div>
<div nz-row>
    <div nz-col nzSpan="6" style='text-align: left'>&nbsp;</div>
    <div nz-col nzSpan="6" style='text-align: left'>&nbsp;</div>
    <div nz-col nzSpan="12" style='text-align: left'> &nbsp;</div>
</div>


<div nz-row>
    <div nz-col nzSpan="3" style='text-align: left'>&nbsp;</div>
    <div nz-col nzSpan="6" style='text-align: left'> From </div>
    <div nz-col nzSpan="15" style='text-align: left'>


        <nz-select [(ngModel)]="fromCity" nzPlaceHolder="From City" style='width:80%' (ngModelChange)='change1()'>

            <nz-option *ngFor="let city of cities" [nzValue]="city.id" [nzLabel]="city.name"></nz-option>


        </nz-select>
    </div>
</div>
<div nz-row>
    <div nz-col nzSpan="6" style='text-align: left'>&nbsp;</div>
    <div nz-col nzSpan="6" style='text-align: left'>&nbsp;</div>
    <div nz-col nzSpan="12" style='text-align: left'> &nbsp;</div>
</div>

<div nz-row>
    <div nz-col nzSpan="3" style='text-align: left'>&nbsp;</div>
    <div nz-col nzSpan="6" style='text-align: left'> To </div>
    <div nz-col nzSpan="15" style='text-align: left'>


        <nz-select [(ngModel)]="toCity" nzPlaceHolder="To City" style='width:80%' (ngModelChange)='change2()'>

            <nz-option *ngFor="let city of cities1" [nzValue]="city.id" [nzLabel]="city.name"></nz-option>


        </nz-select>
    </div>
</div>
<div nz-row>
    <div nz-col nzSpan="6" style='text-align: left'>&nbsp;</div>
    <div nz-col nzSpan="6" style='text-align: left'>&nbsp;</div>
    <div nz-col nzSpan="12" style='text-align: left'> &nbsp;</div>
</div>


<div nz-row>
    <div nz-col nzSpan="3" style='text-align: left'>&nbsp;</div>
    <div nz-col nzSpan="6" style='text-align: left'> Order Type </div>
    <div nz-col nzSpan="15" style='text-align: left'>


        <nz-select [(ngModel)]="orderType" nzPlaceHolder="Select Order Type" style='width:80%' (ngModelChange)='change3()'>

            <nz-option nzValue="0" nzLabel="Take Away"></nz-option>
            <nz-option nzValue="1" nzLabel="Dine In"></nz-option>
            <nz-option nzValue="2" nzLabel="Drive In"></nz-option>


        </nz-select>
    </div>
</div>
<div nz-row>
    <div nz-col nzSpan="6" style='text-align: left'>&nbsp;</div>
    <div nz-col nzSpan="6" style='text-align: left'>&nbsp;</div>
    <div nz-col nzSpan="12" style='text-align: left'> &nbsp;</div>
</div>


<div nz-row>
    <div nz-col nzSpan="3" style='text-align: left'>&nbsp;</div>
    <div nz-col nzSpan="6" style='text-align: left'> Distance </div>
    <div nz-col nzSpan="15" style='text-align: left'>


        <nz-select [(ngModel)]="distance" nzPlaceHolder="Select Distance" style='width:80%' (ngModelChange)='change4()'>

            <nz-option nzValue="0" nzLabel="0-50 KM"></nz-option>
            <nz-option nzValue="1" nzLabel="51-100 KM"></nz-option>
            <nz-option nzValue="2" nzLabel="101-200 KM"></nz-option>
            <nz-option nzValue="3" nzLabel="201-300 KM"></nz-option>
            <nz-option nzValue="4" nzLabel=">300 KM"></nz-option>
            <nz-option nzValue="5" nzLabel="Any Distance"></nz-option>


        </nz-select>
    </div>
</div>
<div nz-row>
    <div nz-col nzSpan="6" style='text-align: left'>&nbsp;</div>
    <div nz-col nzSpan="6" style='text-align: left'>&nbsp;</div>
    <div nz-col nzSpan="12" style='text-align: left'> &nbsp;</div>
</div>

<div nz-row>

    <div nz-col nzSpan="24" style='text-align: center'>
        <button nz-button nzType="primary" (click)="getRestaurants()">Provide Restaurants</button>

    </div>
</div>

<div nz-row>
    <div nz-col nzSpan="6" style='text-align: left'>&nbsp;</div>
    <div nz-col nzSpan="6" style='text-align: left'>&nbsp;</div>
    <div nz-col nzSpan="12" style='text-align: left'> &nbsp;</div>
</div>




<div nz-row>

    <div nz-col nzSpan="24" style='text-align: left'> &nbsp;</div>
</div>



<ng-container *ngIf="hotels && hotels.length > 0">
<div nz-row *ngFor="let hotel of hotels">
    <div nz-col nzSpan="24">
        <div style='text-align: left' class='coupon' style="width:300px; height: auto;">

            <img (click) = "getItems(hotel.id)" alt="example"
                style="width:297px; height: 200px;padding-left:3px;padding-right:2px;padding-top: 3px; border-radius: 15px;"
                src="https://www.oberoihotels.com/-/media/oberoi-hotels/website-images/the-oberoi-new-delhi/dining/detail/omya---indian-restaurant-1.jpg?w=724&hash=639804eb8fb6e21e117d0a44e309aa1b" />

            <div style='padding-left:20px'>

                <b> {{hotel.name}}</b>
                <br />

                <b> <span class='highlight'>
                        <nz-rate [ngModel]="1" [nzCount]="1" nzDisabled></nz-rate> 4.2
                    </span> &nbsp; &nbsp; &nbsp; 50 min &nbsp; &nbsp;{{hotel.distance}} Km <br />
                    Chinese, Arabian, Fast Food<br />
                    {{hotel.address}}
                </b>
            </div>


        </div>
        <div nz-row>

            <div nz-col nzSpan="24" style='text-align: left'> &nbsp;</div>
        </div>


    </div>
</div>
</ng-container>
<div nz-row>
    <div nz-col nzSpan="6" style='text-align: left'>&nbsp;</div>
    <div nz-col nzSpan="6" style='text-align: left'>&nbsp;</div>
    <div nz-col nzSpan="12" style='text-align: left'> &nbsp;</div>
</div>


<nz-drawer
[nzClosable]="false"
[nzVisible]="visible"
nzPlacement="right"
[nzTitle]="itemTitle"
(nzOnClose)="close()"
[nzWidth]="screenWidth"
>
<ng-container *nzDrawerContent>
 
<ng-container *ngIf="items && items.length > 0">

    <div nz-row *ngFor="let item of items" style='text-align: left' class='coupon' style="width:300px; height: auto;">

        <div nz-col nzSpan="16">
            
            <h3>{{item.name}}</h3>

            <h5> {{item.price}}</h5>

            <h5> Enjoy your favourite Dish. Add on Starter and beverage</h5>
                

                </div>
                <div nz-col nzSpan="8" style='padding: 0px; position: relative;'>

                    <img alt="example"
                    style="width:100%; height: 80%;padding-left:3px;padding-right:2px;padding-top: 3px; border-radius: 15px;"
                    src="https://www.oberoihotels.com/-/media/oberoi-hotels/website-images/the-oberoi-new-delhi/dining/detail/omya---indian-restaurant-1.jpg?w=724&hash=639804eb8fb6e21e117d0a44e309aa1b" />
    <div style="position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);">Centered</div>
                </div>
                </div>
         
    


</ng-container>

</ng-container>
</nz-drawer>


<ng-template #itemTitle>
    <div nz-row>

        <div nz-col nzSpan="1" style='text-align: left'>
    <i nz-icon nzType="arrow-left" nzTheme="outline"></i>
   </div>
   <div nz-col nzSpan="23" style='text-align: left'><b>{{selectedHotel.name}}</b><br/>
     {{selectedHotel.address}} | {{selectedHotel.address}} KM | 50 min 
     </div>
     </div>
     <hr/>
     <nz-select nzPlaceHolder="Select Order Type" style='width:50%' (ngModelChange)='change3()'>

        <nz-option nzValue="0" nzLabel="Take Away"></nz-option>
        <nz-option nzValue="1" nzLabel="Dine In"></nz-option>
        <nz-option nzValue="2" nzLabel="Drive In"></nz-option>


    </nz-select>

 


  </ng-template>